<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <center><font face="Microsoft JhengHei UI Light"color="#1e90ff"font size="12">NATUR</font></center
                    <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">product</a></li>
                        <li><a href="#">Contact Us</a></li>


                    </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

                <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="http://www.natur.co.th/images/index/index.jpg.jpg">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container text-center">
                <h1><center><b><font face="TH SarabunPSK"color="#1e90ff"font size="7">ผลิตภัณฑ์สำหรับเด็ก</font></b></center></h1>
                <p><font face="TH SarabunPSK"color="black"font size="6"> --- ด้วยประสบการณ์ในการดูแลคุณแม่และคุณลูก ---</font></p>
            </div>
        </div>
        <div class="container-fluid bg-3 text-center">
            <h3><b><font face="TH SarabunPSK"color="black"font size="6">ความปลอดภัยในระดับมาตรฐานสากล</font></b></h3><br>
            <div class="row">
                <div class="col-sm-4">
                    <p><font face="TH SarabunPSK"color="black"font size="5">บริษัท เนเจอร์ คอร์ปอเรชั่น จำกัด ผู้ผลิตและจัดจำหน่ายผลิตภัณฑ์สำหรับเด็กภายใต้แบรนด์ NATUR, Angel Stony และ Toddy ด้วยประสบการณ์ในการดูแลคุณแม่และคุณลูก ตลอดระยะเวลากว่า 50 ปี</font></p>

                </div>
                <div class="col-sm-4">
                    <p><font face="TH SarabunPSK"color="black"font size="5">ราคาสินค้ารวม หมายถึง ราคาสินค้ารวมที่ปรากฏบนหน้าเว็บไซต์ (หลังหักส่วนลดทั้งหมดเรียบร้อยแล้ว) ไม่หมายรวมถึงค่าธรรมเนียมจากธนาคารหรือบริการต่าง ๆ เรียกเก็บจากคุณลูกค้าในขั้นตอนการชำระเงินค่าสินค้า เช่น ค่าธรรมเนียมที่เกิดจากการโอนเงินข้ามเขต หรือข้ามธนาคาร</font></p>
                </div>
                <div class="col-sm-4">
                    <p><font face="TH SarabunPSK"color="black"font size="5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</font></p>
                </div>
            </div>
        </div>