<html lang="en">
    <head>

    </head>
    <body background="https://www.bloggang.com/data/srostron/picture/1189190945.jpg" link = "blue" alink="fuchsia" vlink="#00008b" >
        <font face="TH SarabunPSK"><a href="#gub">Go to gub</a></font>
        <div align="right"><b><font face="Century Gothic"color="#b22222"font size="9">Wellcome..</font></b></div>

        <center><img src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t1.0-9/35812607_1288329924602727_1425180967558971392_n.jpg?_nc_cat=0&_nc_eui2=AeFUFXW8ATZlmuPBJntuSa_l5aVR4_RXdJffUazgB04rU9bQoUu43v6sU5c_HfEz53H6XBd4Ghk5ETv3pqDXCExncpxCOlOspxjTQba-nFCh_w&oh=a005aade1033b4499f2c4dde2a0e8241&oe=5BA516F2"width="380px" height="265px"alt="not photo"></center>
        <center><strong><font face="TH SarabunPSK"color="black "font size="6"><strong>ชื่อ : นาย ธีรภัทร์ ยมยิ่ง</strong><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รหัสประจำตัวนักศึกษา : 59342110022-6<br>เกิดวันที่&nbsp;18&nbsp;ตุลาคม&nbsp;พ.ศ.2540&nbsp;&nbsp;&nbsp;&nbsp;อายุ : 20 ปี<br>
            <strong>ที่อยู่</strong><br>31/1&nbsp;บ้านดูกอึ่ง&nbsp;ตำบลดูกอึ่ง&nbsp;อำเภอหนองฮี&nbsp;จังหวัดร้อยเอ็ด&nbsp;45140</font></center><br>
        <marquee behavior="alternate"><font face="Century Gothic"color="red"font size="6"><b>[[THANK YOU]]</b></font></marquee><br>
        <font face="TH SarabunPSK"><a name = "gub">the dom in the sam way</a></font>
        <img src="https://www.google.co.th/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">
    </body>
</html>